{% extends 'dashboard.html' %}
 {% block menu_dashboard_class %}nav-link {% endblock %}"
class="{% block menu_leave_class %}nav-link active{% endblock %}"  
{% block title %}approve leave{% endblock %}     
{% block content %}


<style>
	 /* Form Styles */
        .form-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            gap: 50px;
            flex-wrap: wrap;
        }

		form {
			display: flex;
			justify-content: center; 
            align-items: center;
			gap: 5px;
		}
        form div a{
            padding: 25px 10px;
        }

        input{
			padding: 4px 8px;
            border: 1px solid #ddd;
            border-radius: 4px;
            width: 200px;
		}
		select {
            padding: 7px 7px;
            border: 1px solid #ddd;
            border-radius: 4px;
            width: 150px;
        }

        button, .action-btn-add {
            padding: 6px 8px;
            background-color: #1A2C3A;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
			text-decoration: none;
			display: flex;
			gap: 5px;
        }

        button:hover ,.action-btn-add:hover{
            background-color: #29455a;
			color: white;
        }

		.btn-link {
			text-decoration: none;
			padding: 4px 6px;
			color: #1A2C3A;
            border: 1.5px solid #1A2C3A;
            border-radius: 4px;
            cursor: pointer;
		}
		#btn-export{
			display: flex;
		}
		.btn-link:hover {
			background-color: #1A2C3A;
			color: white;

        }
</style>
          

<div class="container container-data-table">
	 <div style="display: flex; align-items: center; justify-content: start; gap: 20px; color: #1A2C3A;">
        <a href="{% url 'leave_dashboard' %}" class="action-btn-edit"><i class="bx bx-sm bx-chevron-left" id="btn"></i>Back</a>
        <h6 style="color: #4B5161;">Approved Leave </h6>
    </div>
	<hr>
    <div class="mt-4 form-container">
			<!-- Search Form -->
			<form method="get" action="">
				{{ search_form.search }} 
				<button type="submit">Search</i></button>
			</form>
            <!-- Filter Form -->
			<form method="get" action="">
				<!-- {{ filter_form.as_p }} -->
				<div class="form-group">
					{{filter_form.leave_list}}
				</div>
				<div>
					<button type="submit">Filter</button>
				</div>
                <div>
                    <a class="btn-link" style="padding: 6px 8px;" href="{% url 'approved_leave' %}" >Clear Filters</a>
                </div>
			</form>
			
		</div>
	<div>
		<table class="table table-hover mt-3" style="width: 100%;">
			<thead class="table-" style="background-color: #1A2C3A; color: #fff;">
				<th>Employee</th>
				<th>Leave Type</th>
				<th>Start Date</th>
                <th>End Date</th>
				<th>Days</th>
                <th>Acting Staff</th>
                <th>Status</th>
			</thead>
			<tbody>
				{% for employee_leave in employee_leave_approved %}
				<tr>
					<td>{{employee_leave.leave_requested_by}}</td>
                    <td>{{employee_leave.leave_request}}</td>
                    <td>{{employee_leave.leave_request.start_date}}</td>
					<td>{{employee_leave.leave_request.end_date}}</td>
					<td>{{employee_leave.leave_request.days_taken}}</td>
                    <td>{{employee_leave.leave_request.acting_staff}}</td>
                    <td>{{employee_leave.leave_request_status}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}