{% extends 'dashboard.html' %}
 {% block menu_dashboard_class %}nav-link {% endblock %}"
class="{% block menu_leave_class %}nav-link active{% endblock %}"    
{% block title %}leave history{% endblock %}   
{% block content %}
       
<div class="container container-data-table">
	<div style="display: flex; align-items: center; justify-content: start; gap: 20px; color: #1A2C3A;">
        <a href="{% url 'leave_dashboard' %}" class="action-btn-edit"><i class="bx bx-sm bx-chevron-left" id="btn"></i>Back</a>
        <h6 style="color: #4B5161;">Leave History</h6>
    </div>
	<hr>
	<div class="mt-4">
		<table class="table table-hover mt-3" style="width: 100%;">
			<thead class="table-" style="background-color: #1A2C3A; color: #fff;">
				<th>Employee</th>
				<th>Leave Type</th>
				<th>Start Date</th>
                <th>End Date</th>
                <th>Acting Staff</th>
                <th>Status</th>
				<th>Action</th>
			</thead>
			<tbody>
				{% for leave_request in leave_requests %}
				<tr>
					<td>{{leave_request.leave_requested_by}}</td>
                    <td>{{leave_request.leave_request}}</td>
                    <td>{{leave_request.leave_request.start_date}}</td>
					<td>{{leave_request.leave_request.end_date}}</td>
                    <td>{{leave_request.leave_request.acting_staff}}</td>
                    <td>{{leave_request.leave_request_status}}</td>
					<td style="display: flex; gap: 30px;">
						<a href="{% url 'update_leave_request' leave_request.id %}" class="action-btn-edit">View</a>
					</td>
				</tr>
				{% empty %}
				<tr><td colspan="8"> <span  class="fw-bold">You have no leave record to be diaplayed.</span></td></tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}