<!-- templates/registration/temporary_password_email.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Your Account Information</title>
</head>
<body>
    <p>Dear {{ user.first_name }},</p>
    <p>Your account has been created. Here are your login details:</p>
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Temporary Password:</strong> {{ temp_password }}</p>
    <p>Please use the following link to log in and reset your password:</p>
    <p><a href="{{ reset_url }}">Reset your password</a></p>
    <p>Thank you!</p>
</body>
</html>
