*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root{
    /* --background-primary: #f2f2f2; */
    /* --background-primary: #eeeeee; */
    --background-primary:#F0EFEF;
    --background-secondary: #dde0e3;
    --background-white: #fff;
    /* --background-white: #f0f2f5; */
}
/* Reset  */
body{
    background-color: var(--background-primary);
}
ul, p, h1, h2, h3, h4, h5, h6, a{
    padding: 0px;
    margin: 0px;
}

a{
    color: #1A2C3A;
}

.action-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.action-btn-edit, .action-btn-del, .action-btn-view{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 2px 8px;
    border-radius: 2px;
    text-decoration: none;
    color: #fff;
    border: 1.2px solid #1A2C3A;
    transition: 0.1s;
}
.action-btn-edit{
    background-color:  #00ADB5;
}
.action-btn-del{
    background-color:  #ff6384;
}
 .action-btn-view{
    color: #1A2C3A;
 }

.action-btn-edit:hover, .action-btn-del:hover,  .action-btn-view:hover{
    color: #fff;
    background-color:  #1A2C3A;
}

.link-btn {
    text-decoration: none;
    padding: 4px 6px;
    color: #1A2C3A;
    border: 1.5px solid #1A2C3A;
    border-radius: 4px;
    cursor: pointer;
}
#btn-export{
    display: flex;
}
.btn-link:hover {
    background-color: #1A2C3A;
    color: white;

}

/* Main section  */
.main-container{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto;
    justify-content: space-evenly;
    align-content: space-evenly;
    transition: all 0.5s ease;
}
.min-container{
    grid-template-columns: 70px 1fr;
}

.container-data-table{
    background-color: var(--background-white);
    padding: 30px 40px;
    border-radius: 8px;
}

/* aside section */
aside{
    grid-column: 1/2;
    grid-row: 2/3;
    min-height: 100dvh;
    position: fixed;
    background-color: var(--background-primary);
}

aside .side-nav{
    padding: 0px 15px 15px 15px;
    width: 200px;
    margin-top: 60px;
    transition: all 0.5s ease;
}

aside .main-list-container{
    transition: all 1.5s ease;
    list-style-type: none;
}

.nav-link{
    text-decoration: none;
    display: flex;
    gap: 10px;
    padding: 8px 10px;
    margin-bottom: 5px;
    color: #1A2C3A;
}

.dash-active{
   background-color: #dde0e3;
   border-radius: 5px;
}

.active, .nav-link:hover{
    background-color: #1A2C3A;
    color: #fff;
    border-radius: 5px;
}

#main-list-item{
    margin: 15px 0px;
}

aside .main-list-item{
    margin-left: 20px;
    transition: all 0.5s;
    text-decoration: none;
    border-left: #000 1px solid;
    color: #000;
    font-size: .9rem;
    padding: 5px 10px;
}

aside .a-active, .main-list-item:hover{
    font-weight: 580;
    border-left: #000 2px solid;
    background-color: #dde0e3;
    padding: 10px 30px 10px 15px;
    text-align: center;
}

aside .min-side-nav{
    width: 80px;
}

aside .min-side-nav a span, .min-side-nav .main-list-item, .min-side-nav .bx-chevron-down{
    display: none;
}

aside .min-side-nav .main-list a{
    justify-content: center;
}

aside .min-side-nav .main-list a:hover{
    background-color: #1A2C3A;
    color: #fff;
    border-radius: 5px;
}


/* Header section */
header{
    grid-column: 1/3;
    grid-row: 1/1;
    z-index: 9999;
}
header nav .nav-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0px 20px;
    min-height: 50px;
    position: fixed;
    background-color: var(--background-primary);
}

header nav .nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav .nav-logo i{
    cursor: pointer;
}

header nav .nav-logo h6{
    font-weight: bold;
    color: #1A2C3A;
    margin-left: 10px;
}

header nav .nav-profile{
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav .nav-profile i{
    align-self: center;
    justify-self: center;
    margin-top: 7px;
}

header nav .profile-nav-item {
    cursor: pointer;
    margin: 0px 10px;
}

header nav .profile-nav-item img{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1.5px solid #1A2C3A;
    padding: 2px;
}

.notification-icon{
    position: relative;
    margin-right: 15px;
}

.notification{
    min-height: 18px;
    background-color: #ff6384;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.notification h2{
    color: #fff;
    font-size: .7rem;
    font-weight: bolder;
    padding: 5px;

}

.notification-detail{
    position: absolute;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    top: 50px;
    right: -120px;
    min-width: 350px;
    display: none;
    margin: 0px;
    border-radius: 8px;
}

.notification-item{
    padding: 30px 30px ;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}

.notification-item li a{
    text-decoration: none;
    color: #1A2C3A;
}

.open-notify-menu{
    display: block;
}

/* Sub menu  */
header .sub-menu{
    display: none;
    transition: opacity 0.5s;
}

header .sub-menu-item{
    background-color: #fff;
    width: 270px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    top: 50px;
    right: 10px;
    padding: 35px 20px;
    border-radius: 8px;
}

header .sub-menu.open-sub-menu{
    display: block;
}

header .sub-menu ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

header ul .sub-menu-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.5;
}

header ul .sub-menu-link:hover{
    opacity: 1;
}

header ul .sub-menu-link a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #1A2C3A;
    gap: 10px;
}

header .sub-menu-link a span{
    margin-top:5px
}

/* main section */
main{
    grid-column: 2/3;
    grid-row: 1/3;
    transition: all 0.5s ease;
    /* padding: 10px 15px 15px 5px; */
}

.main-wrapper{
    display: block;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 2px;
    /* border: 1px solid #1A2C3A; */
    /* background-color: var(--background-white); */
    padding: 20px;
    border-radius: 3px;
    /* max-width: 100%; */
}

.chart-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.badge-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.badge{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    gap: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
    padding: 12px 20px;

}
.badge .label{
    font-size: .8rem;
} 
.badge a{
    text-decoration: none;
    display: flex;
     align-items: center;
     gap: 15px;
}
.badge h6{
    font-size: 1rem;
    font-weight: 500;
}

.badge div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    padding: 14px;
    border-radius: 50%;
    font-size: 1.1rem;
    font-weight: 520;
    /* border: #1A2C3A 1.5px solid; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
}

.badge-approved-leave , .badge-rejected-leave{
    background-color: var(--background-white);
    /* color: #4bc0c0; */
    transition: 0.5s;
}

.badge-approved-leave div{
    background-color:  #00ADB5;
    color: #fff;
    
}

.badge-pending-leave{
    background-color: var(--background-white);
    /* color: #ffcd56; */
}

.badge-pending-leave div{
    background-color: #ffcd56;
    color:#1A2C3A;  
}
.badge-rejected-leave div{
    background-color: #ff6384;
    color:#fff;  
}

.badge-approved-leave:hover,.badge-pending-leave:hover, .badge-rejected-leave{
    cursor: pointer;
}

.leave-chart{
    /* border: #1A2C3A 0.1px solid; */
    background-color: var(--background-white);
    padding: 30px 35px;
    border-radius: 3px;
    margin-top: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
}

.leave-table{
    padding: 20px 40px;
    background-color: var(--background-white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
    /* border: #1A2C3A 0.1px solid; */
    border-radius: 8px;
} 

.btn-leave{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5px;
    margin-top: 10px;
    gap: 5px;
}

.btn-leave div a{
    text-decoration: none;
    padding: 8px 5px;
    border-radius: 3px;
    font-weight: 500;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: 0.5s;
    background-color: var(--background-primary);
    /* border: #1A2C3A 1.5px solid; */
}

.btn-leave div a:hover{
   background-color: #1A2C3A;
   color: #fff;
}

.leave-approval-badge{
    max-height: 25px;
    max-width: 24px;
    padding: 10px;
    background-color: #ff6384;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 540;
}

.leave-type{
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    /* color: #1A2C3A; */
    text-transform: capitalize;
    transition: 0.5s;
    /* opacity: 0.8; */
    font-size: 1rem;
    font-weight: 400;
}

.leave-type:hover{
    color: #000;
    font-size: 1.03rem;
}

.leave-type i{
    opacity: 0.3;
}

.leave-balance{
    font-weight: 520;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}


/* employee style  */
.search-container{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.search-container form button{
  background-color: #1A2C3A; 
  color: #fff; 
  padding: 6.5px 10px;
  border-radius: 3px;
}

.search-filter{
    display: flex;
    gap: 5px;
}

.search-container div a{
    color: #1A2C3A; 
    display: flex; 
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: 5px;
    padding: 6.5px 10px;
    border-radius: 3px;
    transition: 0.3s;
}

.search-container div a:hover{
    color: #fff; 
    background-color: #1A2C3A;
}


/* Main dashboard  */
.main-dashboard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1f);
    gap: 15px;
}

.dash-header{
    grid-column: 1/4;
    grid-row: 1/2;
}

.dash-employee-role{
    grid-column: 1/3;
    grid-row: 2/3;
}

.dash-employee-number{
    grid-column: 3/4;
    grid-row: 2/3;
}

.dash-turnover{
    grid-column: 1/4;
    grid-row: 3/4;
    
}
.dash-turnover-flex{
    display: flex;
    width: 100%;
    gap: 15px;
}
.dash-turnover-dept{
    width: 100%;
}
.dash-turnover-trend{
    width: 100%;
}
.dash-employee-role, .dash-employee-number, .dash-turnover-dept, .dash-turnover-trend{
    background-color: var(--background-white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
    border-radius: 8px;
    padding: 30px;
}

.dash-header ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.dash-header ul li{
    /* border: solid 2px black; */
    background-color: var(--background-white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
    padding: 15px 30px;
    width: 100%;
    border-radius: 8px;
}
.dash-header ul li a{
    display: flex;
    gap: 15px;
    align-items: center;
    text-decoration: none;
    justify-content: space-between;
}
.dash-header ul li a i{
    background-color: var(--background-primary);
    padding: 10px;
    border-radius: 50%;
}
.dash-header ul li a span{
    justify-self: flex-end;
}
.dash-header ul li a span h5{
    font-size: 1rem;
    font-weight: 550;
}
.dash-header ul li a span p{
    font-size: .7rem;
    color: #1A2C3A;
}


/* settings */
.setting-btn a{
text-decoration: none;
padding: 5px 10px; 
border-radius: 3px; 
border: 1.5px solid #1A2C3A; 
background-color: #1A2C3A;
color: #fff;
}

.setting-btn a:hover{
background-color: #29455a;
color: #fff;
}
.setting-nav{
    /* border: solid 1px black; */
    padding: 20px 20px 0px 20px;
}
.setting-nav ul{
    display: flex;
    list-style-type: none;
    /* justify-content: space-evenly; */
}
.setting-nav ul li{
    margin-right: 5px;
}
.setting-nav ul a{
    text-decoration: none;
    color:  #4B5161; 
    padding: 10px 20px;
    transition: ease-in;
    transition-duration: .2s;
}

.setting-nav ul a:hover{
    background-color:  var(--background-secondary);
    font-weight: 550;
    border-radius: 3px;
}
.setting-nav ul .setting-active{
    background-color:  var(--background-secondary);
    font-weight: 550;
    border-radius: 3px;
}


/* employee profile  */
.employee-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1A2C3A;
}
.employee-profile img{
    width:120px;
    height:120px;
    border-radius: 100%;
    border: solid 3px var(--background-secondary);
    /* margin-bottom: 10px; */
    padding: 2px;
}
.change-profile-photo{
    position: relative;
    top: -30px;
    left: 35px;
    z-index: 1;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}
.employee-profile .employee-name{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-top: -15px;
    align-items: center;
}

.employee-profile #title{
    color: #4B5161;
    font-size: .9rem;
    font-weight: bold;
}
.employee-contact{
    font-size: .85rem;
}