{% extends 'dashboard.html' %}
{% block menu_dashboard_class %}nav-link dash-active {% endblock %}
{% block menu_setting_class %}nav-link active{% endblock %}
{% block title %}settings{% endblock %}
{% block content %}
<div style="background-color: #fff;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.01); border-radius: 8px;">  
    <nav class="setting-nav">
    <ul style="display: flex; justify-content: center;">
        <li><a href="{% url 'company' %}" class="{% block setting_company_class %}{% endblock %}">Company</a></li>
        <li><a href="{% url 'office' %}" class="{% block setting_office_class %}  {% endblock %}">office</a></li>
        <li><a href="{% url 'department' %}" class="{% block setting_department_class %}  {% endblock %}">Department</a></li>
        <li><a href="{% url 'office_department' %}" class="{% block setting_office_department_class %}  {% endblock %}">Assign Department</a></li>
        <li><a href="{% url 'holiday' %}" class="{% block setting_holiday_class %}  {% endblock %}">Holiday</a></li>
        <li><a href="{% url 'workschedule' %}" class="{% block setting_schedule_active %}  {% endblock %}">Work Schedule</a></li>
        <li><a href="{% url 'leave_type' %}" class="{% block setting_leave_active %}  {% endblock %}">Leave Type</a></li>
        <li><a href="{% url 'employee_title' %}" class="{% block setting_job_active %}  {% endblock %}">Job Title</a></li>
    </ul>
</nav>
<hr>
    {% block setting_content %}

    {% endblock %}
</div>
{% endblock %}