
<nav class="setting-nav">
    <ul>
        <li><a href="" class="{% block setting_company_class %}{% endblock %}">Company</a></li>
        <li><a href="" class="{% block setting_office_class %}  {% endblock %}">office</a></li>
        <li><a href="" class="{% block setting_department_class %}  {% endblock %}">Department</a></li>
        <li><a href="" class="{% block setting_Designition_class %}  {% endblock %}">Designition</a></li>
        <li><a href="" class="{% block setting_holiday_class %}  {% endblock %}">Holiday</a></li>
        <li><a href="" class="{% block setting_schedule_active %}  {% endblock %}">Work Schedule</a></li>
         <li><a href="" class="{% block setting_leave_active %}  {% endblock %}">Leave Type</a></li>
    </ul>
</nav>
<hr>