*{
    font-size: 1rem;
}
.form-control{
    border-color: rgba(0, 0, 0,0.5);
    border: solid 1.3px;
}
.form-control:focus {
    border: 2px solid rgba(0, 0, 0,0.65);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25), 0 1px 5px 3px rgba(0, 0, 0, 0.05) !important;
}

/*
bootstrap model 
 */


.btn-dark{
    background-color: #1A2C3A;
}
table thead.table-dark{
    background-color: #1A2C3A;
}
.btn:hover{
     background-color:#1A2C3A;
      /* #4B5161; */
}
.btn-delete{
    color: #ff6384;
}
.btn-edit{
    color: #4bc0c0;
 }

.company-logo, .company-logo img{
    max-height: 120px;
    max-width: 120px;
}



/* On screens that are 992px wide or less, 
   the background color is green */ 
@media screen and (max-width: 1200px) { 
    .col-7{
        width: 60%;
    }
    .col-5{
        width: 40%;
    }
    .img-fluid{
        height: 100%;
    }
} 

/* On screens that are 992px wide or less, 
   the background color is green */ 
@media screen and (max-width: 992px) { 
    .col-7{
    display: none;
    }
    .col-5{
    width: 100%;
    }
    .row{
    justify-content: center;
    align-items: center;
    }
} 

/* On screens that are 600px wide or less, 
  the background color is yellow */ 
@media screen and (max-width: 600px) { 
    .col-7{
    display: none;
    }
    .col-5{
    width: 100%;
    }
} 
